.idea/
.DS_STORE

testfig/
jupyters/
**/plotgt_result/
**/__pycache__/

data/
CIS_680_hw3_part_a_report.pdf
CIS680_Project3_SOLO_part_a.pdf
CIS680_Project3_SOLO_part_b.pdf
code/infer_result
code/plotgt_result
code/train_check_point
code/train_check_point_1
code/logs
